[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CGMissingDataR"]
	path = CGMissingDataR
	url = https://github.com/zhanglabuky/cgmissingdatar
